In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests

# Step 1 - Scraping

Complete initial scraping using Jupyter Notebook, BeautifulSoup, Pandas, and Requests/Splinter.

Create a Jupyter Notebook file called mission_to_mars.ipynb and use this to complete all of your scraping and analysis tasks. The following outlines what you need to scrape.

## Mac Users

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## Scraping

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

### NASA Mars News

In [5]:
# Scrape the Latest News Title
news_title = (soup.find(class_="content_title")).get_text()
print(f"news_title = {news_title}")

news_title =

NASA's Opportunity Rover Mission on Mars Comes to End

In [6]:
# Scrape the Latest Paragraph Text

news_p = soup.find(class_='rollover_description_inner').get_text()
print(f"news_p = {news_p}")

news_p =
NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

### JPL Mars Space Images - Featured Image

In [7]:
start_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(start_url)
soup = BeautifulSoup(browser.html, 'html.parser')

In [8]:
#select the part that contains the image urls
fancy_box = soup.select('li.slide a.fancybox')

#make a list of just the data-fancybox-hrefs
img_list = []
for i in fancy_box:
    img_list.append(i.get('data-fancybox-href'))

#combine the base url with the first img url
featured_image_url = "https://www.jpl.nasa.gov" + img_list[10]   

print(f"featured_image_url = {featured_image_url}")

featured_image_url = https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23331_hires.jpg

### Mars Weather

In [9]:
start_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(start_url)
soup = BeautifulSoup(browser.html, 'html.parser')

In [10]:
# scrape the latest Mars weather tweet from the page
mars_weather = (soup.find(class_="tweet-text")).get_text()
print(f"news_title = {mars_weather}")

news_title = InSight sol 233 (2019-07-23) low -98.8ºC (-145.9ºF) high -25.7ºC (-14.2ºF)
winds from the SE at 4.6 m/s (10.2 mph) gusting to 16.2 m/s (36.2 mph)
pressure at 7.60 hPapic.twitter.com/ksOXPg28yb

### Mars Facts

In [1]:
import pandas as pd

In [2]:
url = 'https://space-facts.com/mars/'
# med_abbreviations = ['BMR', 'BP', 'ECG', 'MRI', 'qid', 'WBC']

In [3]:
# Use Panda's `read_html` to parse the url
### BEGIN SOLUTION
tables = pd.read_html(url)
tables
### END SOLUTION

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [4]:
# Find the medical abbreviations DataFrame in the list of DataFrames as assign it to `df`
# Assign the columns `['abb', 'full_name', 'other']`
### BEGIN SOLUTION
df = tables[0]
df.columns = ['Comparison', 'Mars', 'Earth']
df.head()
### END SOLUTION

           Comparison             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days

In [5]:
df.set_index('Comparison', inplace=True)
df.head()

                               Mars            Earth
Comparison
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days

In [6]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [7]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Comparison</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [8]:
df.to_html('table.html')

In [9]:
# OSX Users can run this to open the file in a browser, 
# or you can manually find the file and open it in the browser
!open table.html

### Mars Hemispheres

In [32]:
urls = []
titles = []

In [33]:
start_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(start_url)
soup = BeautifulSoup(browser.html, 'html.parser')

In [34]:
ce_image_url = (soup.find('a', text='Sample'))
urls.append(ce_image_url.get('href'))

ce_image_title = (soup.find('h2', 'title'))
titles.append(ce_image_title.text)

In [35]:
start_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
browser.visit(start_url)
soup = BeautifulSoup(browser.html, 'html.parser')

In [36]:
se_image_url = (soup.find('a', text='Sample'))
urls.append(se_image_url.get('href'))

se_image_title = (soup.find('h2', 'title'))
titles.append(se_image_title.text)

In [37]:
start_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
browser.visit(start_url)
soup = BeautifulSoup(browser.html, 'html.parser')

In [38]:
sme_image_url = (soup.find('a', text='Sample'))
urls.append(sme_image_url.get('href'))

sme_image_title = (soup.find('h2', 'title'))
titles.append(sme_image_title.text)

In [39]:
start_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
browser.visit(start_url)
soup = BeautifulSoup(browser.html, 'html.parser')

In [40]:
vme_image_url = (soup.find('a', text='Sample'))
urls.append(vme_image_url.get('href'))

vme_image_title = (soup.find('h2', 'title'))
titles.append(vme_image_title.text)

In [42]:
hemisphere_image_urls = []
hemisphere_image_urls.append({"title": titles[0], "img_url": urls[0]})
hemisphere_image_urls.append({"title": titles[1], "img_url": urls[1]})
hemisphere_image_urls.append({"title": titles[2], "img_url": urls[2]})
hemisphere_image_urls.append({"title": titles[3], "img_url": urls[3]})
print(f"Hemisphere_image_urls = {hemisphere_image_urls}")

Hemisphere_image_urls = [{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]